body {
	padding-top: 5rem;
	font-family: 'Raleway', sans-serif;
}

.navbar {
	background-color: #decdf5;
}

.navbar a {
	color: #534d56;
}

a {
	color: #1b998b;
}

a:hover {
	color: #1dad9d;
}

.btn-primary {
	color: #f8f1ff;
	background-color: #1b998b;
	border-color: #1b998b;
}

.btn-primary:hover {
color: #f8f1ff;
background-color: #1dad9d;
border-color: #1dad9d;
}

.chart-container {
	max-height: 500px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}
